@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @font-face {
            font-family: 'Rubik';
            src: url(/src/assets/fonts/Rubik-VariableFont_wght.ttf);
            font-style: normal;
        }

        @font-face {
            font-family: 'Rubik';
            src: url(/src/assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
            font-style: italic;
        }

        @apply font-app-rubik;
    }
}